body {
  max-width: 400px; 
  margin-left: 500px;
  margin-top: auto;
}
.grid-container {
  background-image: url("images/header-background-mobile.png");
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 375px;
  height: 5410px;
  background: #F7F7F9;
  border-color: black;
}
.top #time {
  position: relative;
  width: 54px;
  height: 16px;
  left: 0px;
  top: calc(50% - 16px/2 + 0.5px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: -0.28px;
  color: #000000;
}
#bar1 {
  position: absolute;
  width: 3px;
  height: 10.67px;
  right: 64.33px;
  top: 17.67px;
  background: #000000;
  border-color: black;
}
#bar2 {
  position: absolute;
  width: 3px;
  height: 8.33px;
  right: 69px;
  top: 20px;
  background: #000000;
  border-color: black;
}
#bar3 {
  position: absolute;
  width: 3px;
  height: 6px;
  right: 73.67px;
  top: 22.33px;
  background: #000000;
  border-color: black;
}
#bar4 {
  position: absolute;
  width: 3px;
  height: 4px;
  right: 78.33px;
  top: 24.33px;
  background: #000000;
  border-color: black;
}
.cellularbar {
  position: relative;
  float: right;
}
.logo img{
  width: 76px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;
  /* Primary/B400 */
  color: #6070FF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#line1{
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;
  border: 2px solid #ACB7C3;
  background-color: blueviolet;
  float:right;
}
#line2{
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 50%;
  bottom: 50%;
  border: 2px solid #ACB7C3;
  float:right
}
#line3{
  position: absolute;
 left: 16.67%;
 right: 16.67%;
 top: 29.17%;
 bottom: 70.83%;
 border: 2px solid #ACB7C3;
 float:right
}

.union{
position: relative;
width: 18px;
height: 12px;
left: 3px;
top: 6px;
background: #6070FF;
/* align-items: flex-end; */
/* margin-left: 350px; */
position: relative;
float:right;
}
#logo{
  float: left;
}
